{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Problem{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div>
        <h1>Problem</h1>
    </div>
    <div>
        <h1>
            {{ problem_Id }}
        </h1>
        <h1>
            {{ problem_Name }}
        </h1>
        <div class="mb-3">
            <button class="btn btn-falcon-primary w-8 mt-3" type="button" onclick="back()">Back</button>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script language="JavaScript">
    function back()
    {
        location.href='/problem'
    }

</script>

{% endblock javascripts %}