{% extends 'layouts/base.html' %} {% load static %} {% block title %}Problem
{%endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row g-0">
  <div class="col-lg-5 pe-lg-2 mb-3">
    <div class="card h-lg-100 overflow-hidden">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="mb-0">Problem</h6>
          </div>
          <div class="col-auto text-center pe-card">
            <button
              class="btn w-5 mt-0"
              type="button"
              style="font-size: 0.8em"
              onclick="add_Problem()"
              align="right"
            >
              Add Problem
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        {% for content in problemContent %}
        <div
          class="
            row
            g-0
            align-items-center
            py-2
            position-relative
            border-bottom border-200
          "
        >
          <div class="col ps-card py-1 position-static">
            <div class="d-flex align-items-center">
              <div class="avatar avatar-xl me-3">
                <div
                  class="avatar-name rounded-circle bg-soft-primary text-dark"
                >
                  <span class="fs-0 text-primary">{{ content.first }}</span>
                </div>
              </div>
              <div class="flex-1">
                <h6 class="mb-0 d-flex align-items-center">
                  <div
                    class="text-800 stretched-link"
                    type="button"
                    id="{{ content.id }}"
                    onclick="send_Training(this)"
                    onmouseover="rollup_Problem(this);"
                    onmouseout="clear_Label();"
                  >
                    {{ content.problem_name }}
                  </div>
                </h6>
                <input
                  type="hidden"
                  id="problem_name_{{ content.id }}"
                  value="{{ content.problem_note }}"
                />
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center g-0">
              <div class="col-auto pe-3">
                <div class="fs--1 fw-semi-bold">
                  <label class="form-label" for="problem_name_{{ content.id }}"
                    >{{ content.working_time }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="/uploaddata">Anomaly Detection<span class="fas fa-chevron-right ms-1 fs--2"></span></a></div>
    </div>
  </div>
  <div class="col-lg-7 ps-lg-2 mb-3">
    <div class="card h-lg-100">
      <div class="card-header">
        <div class="row flex-between-center">
          <div class="col-auto">
            <h6 class="mb-0">Explanation</h6>
          </div>
        </div>
      </div>
      <div class="card-body h-100 pe-3">
        <label class="form-label" id="output_label"></label>
       </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function rollup_Problem(object)
  {
      var hidden_Label_Id = "problem_name_" + object.id
      document.getElementById('output_label').innerText = document.getElementById(hidden_Label_Id).value;
  }

  function clear_Label()
  {
      document.getElementById('output_label').innerText = "";
  }

  function add_Problem()
  {
      location.href='{% url 'problem:problemadd' %}';
  }

  function send_Training(object)
  {
      var problem_Id = object.id;
      var problem_Name = object.innerText;

      location.href='/problem/problemsend?problem_Id=' + problem_Id + '&problem_Name=' + problem_Name;
  }
</script>
{% endblock javascripts %}
