[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/anaconda3/envs/aibiz/bin/uwsgi -i /home/ubuntu/jenkins/jenkins/workspace/deploy_aibiz/config/wsgi/wsgi.ini


Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
