{% extends 'layouts/base.html' %} {% load static %} {% block title %}Problem
Add{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %} {% block content %}

<main class="main" id="top">
  <div class="container" data-layout="container">
    <div class="card h-md-100 ecommerce-card-min-width ">
      <div class="card-header py-2 bg-100">Data Info Recipe</div>
      <div class="card-body h-100">
          <div class="mb-4" style="text-align: right;"><button
            class="btn btn-falcon-default mt-2 btn-sm"
            type="button"
            onclick="add_Recipe()"
          >
            등록
          </button>
        </div>
        <div class="tab-content">
          <div
            class="tab-pane preview-tab-pane active"
            role="tabpanel"
            aria-labelledby="tab-dom-5ea635f6-c41e-424b-a2d0-01213d101e84"
            id="dom-5ea635f6-c41e-424b-a2d0-01213d101e84"
          >
            <div
              id="recipe-table"
              data-list='{"valueNames":["id","recipe_name","revision_no", "sensor_cd", "modify"],"page":10,"pagination":true}'
            >
              <div class="table-responsive scrollbar">
                <table class="table table-bordered table-striped fs--1 mb-0">
                  <thead class="bg-200 text-900">
                    <tr>
                      <th class="sort" data-sort="id">ID</th>
                      <th class="sort" data-sort="recipe_name">Recipe Name</th>
                      <th class="sort" data-sort="revision_no">Revision No</th>
                      <th class="sort" data-sort="sensor_cd">Sensor Code</th>
                      <th class="sort" data-sort="modify">Modify</th>
                      <th class="sort" data-sort="delete">Delete</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for i in RecipeDataList %}
                    <tr>
                      <td class="id">{{ i.id }}</td>
                      <td class="recipe_name">{{ i.recipe_name }}</td>
                      <td class="revision_no">{{ i.revision_no }}</td>
                      <td class="sensor_cd">{{ i.sensor_cd }}</td>
                      <td class="modify">
                          <a href="/master/recipemodify?id={{ i.id }}">수정</a></td>
                      <td class="delete">
                          <button id="delete-btn" type="button" value="{{ i.id }}">{{ i.id }}delete</button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script language="JavaScript">
  function add_Recipe() {
    location.href = "/master/recipeinsert";
  }
</script>
<script>
    var deleteBtn = document.getElementById('delete-btn');
console.log("!!!!!!!")
    deleteBtn.addEventListener("click", async _ => {
        console.log("tststst")
        try{
            
            var deleteBtnId = document.getElementById('delete-btn').value;
            const response = await fetch('/master/recipe/delete', {
                method: 'POST',
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                body: JSON.stringify({
                    deleteBtnId : deleteBtnId
                })
            });
            console.log('Completed!', response);
        }catch(err) {
            console.error(`Error: ${err}`);
        }
    });

</script>
{% endblock javascripts %}
