{% extends 'layouts/base.html' %} {% load static %} {% block title %}training
{%endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link
        rel="stylesheet"
        href="{% static 'assets/css/analysis.css' %}"
/>
{% endblock stylesheets %} {% block content %}
    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row g-3 mb-3">
                <div class="col-lg-3">
                    <div class="card h-100">
                        <div class="card-header d-flex flex-between-center bg-light py-3">
                            <h6 class="mb-0">Monitoring</h6>
                        </div>
                        <div class="card-body pb-1">
                            <ul style="padding: 0">
                                <li>
                                    <a
                                            class="btn"
                                            data-bs-toggle="collapse"
                                            href="#eqipment"
                                            role="button"
                                            aria-controls="false"
                                            aria-controls="eqipment"
                                    >
                                        <div class="cricle"></div>
                                        <sapn class="list-title">장비: </sapn
                                        ><a class="dropdown-indicator dropdown"></a>
                                    </a>
                                    <ul class="collapse multi-collapse" id="equipment">
                                        <li>
                                            <a
                                                    class="btn"
                                                    data-bs-toggle="collapse"
                                                    href="#chamber"
                                                    role="button"
                                                    aria-controls="false"
                                                    aria-controls="chamber"
                                            >
                      <span class="list-title">챔버: </span
                      ><a class="dropdown-indicator dropdown"></a
                                            ></a>
                                            <ul class="collapse multi-collapse" id="chamber">
                                                <li class="recipe-text">
                                                    <div class="cricle inner"></div>

                                                    <ul style="padding: 0">
                                                        recipe
                                                        <li>
                                                            <button
                                                                    class="senser-btn"
                                                                    id="{{ i.id }}"
                                                                    type="button"
                                                                    onclick="execute_Monitoring();"
                                                            >
                                                                recipe
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mb-3">
                        <div class="card-header d-flex flex-between-center bg-light py-3">
                            <h6 class="mb-0">Analysis</h6>
                        </div>
                        <div class="card-body py-5 py-sm-3">
                            <div>
{#                                <form action="test()">#}
                                    <div class="row">
                                        <div class="col-7">
                                            <label>
                                                <span class="list-title period">기간: </span>
                                                <input type="date" name="start-day" id="date-start" />
                                                -
                                                <input type="date" name="end-day" id="date-end" />
                                            </label>
                                        </div>
                                        <div class="col-5">
                                            <p>
                                                <button class="btn btn-secondary" id="start-btn" >
                                                    Submit
                                                </button>
                                            </p>
                                        </div>
                                    </div>
{#                                </form>#}
                            </div>
                            <div class="row text-center">
                                <div class="col">
                                    <button class="btn btn-primary" id="normal">정상</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary" id="anomalies">이상</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary" id="normalize">정규화</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header d-flex flex-between-center">
                                    <h6 class="mb-0">Grape</h6>
                                </div>
                                <div class="card-body">
                                    <canvas id="canvas"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col">
                          <div class="card">
                            <div class="card-header d-flex flex-between-center">
                              <h6 class="mb-0">Grape</h6>
                            </div>
                            <div class="card-body"></div>
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card h-100">
                        <div class="card-header d-flex flex-between-center bg-light py-3">
                            <h6 class="mb-0">Warning List</h6>
                        </div>
                        <div class="card-body pb-3" style="margin: 0 2em 0 2em">
                            <div
                                    class="row text-center border-sm-bottom pb-2"
                                    style="font-weight: 700"
                            >
                                <div class="col">Date</div>
                                <div class="col">제품명</div>
                            </div>
                            <table
                                    id="anomalies_list"
                                    style="width: 100%; margin-top: 1em"
                            ></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // chart component
        var canvas = document.getElementById('canvas').getContext('2d');
        var chart1;

        var normalDataArray = [];
        var normalizedDataArray = [];
        var anomalyDataArray = [];
        var normalizedAnomalyDataArray = [];

        var maxXAxisLength = 0;

        var normalBtn = document.getElementById('normal');
        var anomalyBtn = document.getElementById('anomalies');
        var normalizeBtn = document.getElementById('normalize');
        var startBtn = document.getElementById('start-btn');

        var isNormalized = false;
        var isNormalChart = true;
        var isAnomalyChart = false;

        document.getElementById("date-start").value = new Date()
            .toISOString()
            .substring(0, 10);
        document.getElementById("date-end").value = new Date()
            .toISOString()
            .substring(0, 10);
    </script>
    <script>
        normalBtn.addEventListener('click', normalBtnClick);
        anomalyBtn.addEventListener('click', anomalyBtnClick);
        normalizeBtn.addEventListener('click', normalizeBtnClick);

        startBtn.addEventListener('click', async _ => {
            try {
                var url = 'analysis?'
                var date_start = document.getElementById("date-start").value;
                var date_end = document.getElementById("date-end").value;

                var querystr = new URLSearchParams({
                   date_start: date_start,
                   date_end: date_end
                })
                const response = await fetch(url + querystr, {
                    method: 'GET',
                    headers: {"X-CSRFToken": getCookie("csrftoken")},
                });

                var result = await response.json();

                console.log(result);
                console.log('Completed!', response);

                normalDataArray = result.raw_data.map(
                    (value) => value[1]
                );
                anomalyDataArray = result.anomaly_csvdata;
                normalizedAnomalyDataArray = result.normalized_anomaly_csvdata;
                normalizedDataArray = result.normalized_data;

                console.log("1",normalDataArray);
                console.log("2.1",anomalyDataArray);
                console.log("2.2",normalizedAnomalyDataArray);
                console.log("3",normalizedDataArray);

                drawChart(normalDataArray, anomalyDataArray);
            } catch (err) {
                console.log('aa');
                console.error(`Error: ${err}`);
            }
        });

        // function drawNormalChart(dataList) {
        //     var datasets = dataList.map(
        //         function dataMap(value, index, array) {
        //              =
        //                 array[normalDataMaxIndex].length > value.length
        //                     ? normalDataMaxIndex
        //                     : index;
        //
        //             return dataset(value, '', false, null, 'transparent', 1);
        //         }
        //     );
        //
        //     chart1 = new Chart(canvas, {
        //         type: 'line',
        //         data: {
        //             labels: xAxisOf(maxXAxisLength),
        //             datasets: datasets
        //         },
        //         options: {
        //             legend: {
        //                 display: false
        //             }
        //         },
        //     });
        //
        //     isNormalChart = true;
        //     isAnomalyChart = false;
        // }

        function drawChart(normalList, anomalyList) {
            maxXAxisLength = 0;

            var normalDataSets = isNormalChart
                ? normalList.map(function dataMap(value) {
                    maxXAxisLength = maxXAxisLength > value.length
                        ? maxXAxisLength
                        : value.length;

                    return dataset(value, '', false, null, 'black', 1);
                })
                : [];

            var anomalyDataSets = isAnomalyChart
                ? anomalyList.map(function dataMap(value) {
                    maxXAxisLength = maxXAxisLength > value.length
                        ? maxXAxisLength
                        : value.length;

                    return dataset(value, '', false, null, 'red', 1);
                })
                : [];

            chart1 = new Chart(canvas, {
                type: 'line',
                data: {
                    labels: xAxisOf(maxXAxisLength),
                    datasets: [...normalDataSets, ...anomalyDataSets],
                },
                options: {
                    legend: {
                        labels: {
                            display: false
                        }
                    }
                },
            });
        }

        function dataset(
            data,
            labelText,
            isFilled,
            backgroundColor,
            borderColor,
            borderWidth
        ) {
            return {
                label: labelText,
                type: 'line',
                fill: isFilled,
                backgroundColor: isFilled ? backgroundColor : null,
                pointRadius: 0,
                borderColor: borderColor,
                borderWidth: borderWidth,
                data: data
            };
        }

        function xAxisOf(length) {
            var arr = [];

            for(let i=0; i<length; i++) arr[i] = i+1;

            return arr;
        }

        function normalBtnClick() {
            isNormalChart = !isNormalChart;

            chart1.destroy();

            isNormalized
                ? drawChart(normalDataArray, anomalyDataArray)
                : drawChart(normalizedDataArray, normalizedAnomalyDataArray);

            // if(isNormalized)    drawNormalChart(normalDataArray)
            // else    drawNormalChart(normalizedDataArray);
        }

        function anomalyBtnClick() {
            isAnomalyChart = !isAnomalyChart;

            chart1.destroy();

            isNormalized
                ? drawChart(normalDataArray, anomalyDataArray)
                : drawChart(normalizedDataArray, normalizedAnomalyDataArray);
        }

        function normalizeBtnClick() {
            isNormalized = !isNormalized;

            if(isNormalChart || isAnomalyChart) {
                chart1.destroy();

                isNormalized
                    ? drawChart(normalDataArray, anomalyDataArray)
                    : drawChart(normalizedDataArray, normalizedAnomalyDataArray);
            }
        }
    </script>

{% endblock javascripts %}
