{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Monitoring{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link rel="stylesheet" href="{% static 'assets/css/monitoring.css' %}" >
{% endblock stylesheets %}

{% block content %}

    <main class="main" id="top">
        <div class="container">
            <div class="mb-3">
                <label class="form-label">Sensor Number</label>
                <label class="form-label" id="select_sensor">null</label>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Select Sensor
                </button>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-lg-5">
                    <div class="card h-100">
                        <div class="card-header d-flex flex-between-center bg-light py-3">
                            <h6 class="mb-0">Monitoring</h6>
                        </div>
                        <div class="card-body pb-3">
                        {% if equip_list %}
                            {% for i in equip_list %}
                            <ul >
                                <li><a class="btn" data-bs-toggle="collapse" href="#eqipment" role="button" aria-controls="false" aria-controls="eqipment">
                                    {% if i.eqip_cnt == 1 %}<div class="cricle"></div><sapn class="list-title">장비: </sapn>{{ i.equipment_id }}<a class="dropdown-indicator dropdown" ></a>{% endif %}
                                </a>
                                    <ul class="collapse multi-collapse" id="eqipment">
                                        <li><a class="btn" data-bs-toggle="collapse" href="#chamber" role="button" aria-controls="false" aria-controls="chamber">
                                                {% if i.cham_cnt == 1 %}<span class="list-title">챔버: </span>{{ i.chamber_id }}<a class="dropdown-indicator dropdown" ></a>{% endif %}</a>
                                            <ul class="collapse multi-collapse" id="chamber">
                                                <li class="recipe-text">{% if i.rec_cnt == 1 %}<div class="cricle inner"></div>{{ i.recipe_no }}{% endif %}
                                                    <ul>
                                                        <li>
                                                            <button class="senser-btn" id="{{ i.id }}" type="button" execute_Monitoring();">{{ i.sensor_no }}</button>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card  mb-3">
                        <div class="card-body py-5 py-sm-3">
                            <div class="row g-5 g-sm-0">
                                <div class="col-sm-4">
                                    <div class="border-sm-end border-300">
                                        <div class="text-center">
                                            <h6 class="text-700">Status</h6>
                                        </div>
                                        <button id="status-btn" type="button"></button>
                                        <h6 class="text-center" style="font-weight: 400; color: #2c7be5">Bad or Good</h6>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div>
                                        <div class="text-center">
                                        <h6 class="text-700">Upload</h6>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex flex-between-center bg-light py-3">
                            <h6 class="mb-0">Grape</h6>
                        </div>
                        <div class="card-body">
                        </div>
                        <!-- <div class="card-footer bg-light py-2">
                          <div class="row flex-between-center g-0">
                            <div class="col-auto">
                              <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                              </select>
                            </div>
                            <div class="col-auto">
                              <h6 class="mb-0"><a class="py-2" href="#!">Active users report<span class="fas fa-chevron-right ms-1 fs--2"></span></a></h6>
                            </div>
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card h-100">
                        <div class="card-header d-flex flex-between-center bg-light py-3">
                            <h6 class="mb-0">Warning List</h6>
                        </div>
                        <div class="card-body pb-3" style="margin: 0 2em 0 2em">
                            <div class="row text-center border-sm-bottom pb-2" style="font-weight: 700;">
                                <div class="col">Date</div>
                                <div class="col">제품명</div>
                            </div>
                            <table id="anomalies_list" style="width:100%; margin-top:1em">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sensor List</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
{#                            Table in modal                               #}
                        <div id="tableExample2" data-list='{"valueNames":["check","data_name","data_cnt","data_size"],"page":5,"pagination":true}'>
                            <div class="table-responsive scrollbar">
                                <table class="table table-bordered table-striped fs--1 mb-0">
                                    <thead class="bg-200 text-900">
                                    <tr>
                                        <th class="sort" data-sort="Equip_ID">Equip_ID</th>
                                        <th class="sort" data-sort="Chamber_ID">Chamber_ID</th>
                                        <th class="sort" data-sort="Sensor_No">Sensor_No</th>
                                        <th data-sort="check"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="list">
                                    {% if list %}
                                        {% for i in list %}
                                            <td class="Equip_ID">{{ i.equipment_id }}</td>
                                            <td class="Chamber_ID">{{ i.chamber_id }}</td>
                                            <td class="Sensor_No">{{ i.sensor_no }}</td>
                                            <input type="hidden" value="{{ i.id }}">
                                            <input type="hidden" value="{{ i.data_static_path }}">
                                            <td>
                                                <div style="display: none;">
                                                    <button type="hidden" id="{{ i }}"
                                                            onclick="selectedId('{{ i.id }}','{{ i.sensor_no }}')">
                                                    </button>
                                                </div>
                                                    <label class="btn-falcon-info" id="is_select"  for="{{ i }}">Select</label>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#            end modal             #}

    </main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="static/vendors/list.js/list.min.js"></script>
{#    modal내 하단 selectedDisp 내용변경   #}
    <script>
        function selectedId(id, name){
            $('#selectedDisp').text(name)
            $('#select_sensor').text(name)
            $('#selectedHidden').val(id)
        }
    </script>
    <script>
{#     train 시작        #}
    const button = document.getElementById('train-btn');

    button.addEventListener('click', async _ => {
        try {
            var trainDataId = document.getElementById('selectedHidden').value;

            console.log(trainDataId);
            const response = await fetch('/training/', {
                method: 'post',
                body: {
                    'trainDataId' : trainDataId

                }
            });

            console.log('Completed!', response);
        } catch(err) {
            console.error(`Error: ${err}`);
        }
    });

    </script>
    <script>
        //Monitoring 실시간 화면갱신
        var timer;

        $(document).ready(function () {
            execute_Monitoring();
        });

    </script>
    <script>
        //파일 리스트 호출 함수
        function execute_Monitoring(){

            var url = '/monitoring/execute';

            $.ajax({
                type : 'GET',
                url : url,
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                //data : formData,
                cache: false,
                contentType: false,
                processData: false,
                error: function(request,status,error){
                     //alert("code:"+request.status+"\n"+"error:"+error);
                },
                success : function(result){
                    var list = "";

                    var file_Name;
                    var date = "";
                    var lot_No = "";

                    $("#anomalies_list").empty();

                    //파일 리스트를 날짜와 Lot 순서로 변경하여 출력
                    $.each(result.anomalies_list, function(i, item){
                        //alert(i);
                        file_Name = item.replace(".csv", "").split("_");
                        //일자
                        date = file_Name[0] + "/" + file_Name[1] + "/" + file_Name[2];
                        //Lot No
                        lot_No = file_Name[3] + "_" + file_Name[4];

                        //실제 테이블에 리스팅
                        list += "<tr>";
                        list += "   <td>" + date + "</td>";
                        list += "   <td>" + lot_No + "</td>";
                        list += "   <input type='hidden' id='seq_" + i + "' value='" + i + "'>";
                        list += "   <input type='hidden' id='file_" + item + "' value='" + item + "'>";
                        list += "</tr>";
                    });

                    $("#anomalies_list").append(list);

                    //document.getElementById('csv').innerText = result.csv_list[1];

                }
            });

            //5초 간격으로 하여 디렉토리 파일 리스트 호출 및 csv data 호출(간격 조정 필요한경우 수치 데이터 조정)
            timer = setTimeout("execute_Monitoring()", 5000);
        }
    </script>
{% endblock javascripts %}